<!DOCTYPE html>
<html>
  <head>
  {%- block head -%}
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width" />
      <title>{{ title_name }}</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}"/>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}"/>
    {%- endblock -%}
  </head>
  <body>
  {%- block content -%}
  {%- endblock -%}
    {%- block scripts -%}
      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <!-- Include the Sidr JS -->
  <script src="{{ url_for('static', filename='js/jquery.sidr.min.js') }}"></script>


  <script>

  $(document).ready(function() {
    $('#simple-menu').sidr();
    $.sidr('open', 'sidr');
    $('#simple-menu').click(function() {
        $("#menuToggle").toggleClass('rotated');  
    });
  });

  </script>

     <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
    {%- endblock -%}
  </body>
</html>
